<% content_for(:title, t('.title')) %>
  <div class="flex flex-col max-w-6xl mx-auto items-center p-4">
    <div class="w-full max-w-6xl rounded-2xl">
      <%= render 'form', figure: @figure %>
    </div>
  </div>
