
<footer>
  <nav class="bg-gray-100">

    <!-- ページ遷移ナビゲーション -->
    <div class="container mx-auto px-4 py-4">
      <ul class="flex justify-center space-x-10 text-gray-700">
        <li><%= link_to "利用規約", '#' %></li>
        <li><%= link_to "プライバシーポリシー", '#' %></li>
        <li><%= link_to "お問い合わせ", '#' %></li>
      </ul>
    </div>
  </nav>
</footer>