<footer  class="bg-gray-100  py-6">
  <!-- ページ遷移ナビゲーション -->
  <nav>
    <div class="px-4 pb-6">
      <ul class="flex justify-center space-x-6 text-gray-600 text-sm">
        <li><%= link_to t("hooter.terms_of_service"), terms_of_service_path, class: "hover:underline" %></li>
        <li><%= link_to t("hooter.privacy_policy"), privacy_policy_path, class: "hover:underline" %></li>
        <li><%= link_to t("hooter.contact"), '#',class: "hover:underline" %></li>
      </ul>
    </div>
  </nav>
  <div class=" text-center text-xs text-gray-500">
    <%= t("hooter.copyright") %>
  </div>
</footer>