<div>Figruneをいつもご利用いただきありがとうございます。</div>

<div><%= @month_date.strftime("%Y年%-m月") %>発売予定のフィギュアのお知らせです。</div>

<br>

<div>▼お支払い予定の合計金額<br>
　<strong><%= number_to_currency(@unpaid_total_price) %></strong>
</div>

<br>

<div>▼発売予定リスト</div>

<% @figures.each do |figure| %>
  <div>・<%= figure.name %></div>
<% end %>

<br>

<div>Figrune</div>
