<p>Figruneをご利用いただきありがとうございます。</p>

<p>パスワードリセットのリクエストを受け付けました。</p>
<p>以下のリンクをクリックすると、パスワード再設定画面に移動しますので、新しいパスワードを入力し再設定してください。</p>
<p><%= edit_password_url(@resource, reset_password_token: @token) %></p>

<p>※このリンクの有効期限は1時間です。</p>
<p>※この操作に心当たりがない場合は、本メールを破棄してください。</p>

<p>Figrune</p>